@import "tailwindcss";

:root {
  --primary-color: #EAB308;
  --secondary-color: #000000;
}

@theme {
  --color-theme-primary: var(--primary-color);
  --color-theme-secondary: var(--secondary-color);
}

@layer base {
  body {
    @apply bg-black text-white;
  }
}

@media print {
  .no-print {
    display: none !important;
  }
  .print-only {
    display: block !important;
  }
  body {
    background: white !important;
    color: black !important;
  }
}

.print-only {
  display: none;
}
